table td {
    vertical-align: top;
  }
  
  /* -------------------------------------
    BODY & CONTAINER
  ------------------------------------- */
  
  
  .body-wrap {
  
    width: 100%;
  }
  
  .container {
    display: block !important;
    max-width: 600px !important;
    margin: 0 auto !important;
  
    clear: both !important;
  }
  
  .content {
    max-width: 600px;
    margin: 0 auto;
    display: block;
    padding: 20px;
  }
  
  /* -------------------------------------
    HEADER, FOOTER, MAIN
  ------------------------------------- */
  .main {
    background: rgba(246, 249, 150, 0.884);
    border: 1px solid #f8b93c;
    border-radius: 3px;
  }
  
  .content-wrap {
    padding: 20px;
  }
  
  .content-block {
    padding: 0 0 20px;
  }
  
  .header {
    width: 100%;
    margin-bottom: 20px;
  }
  
  
  
  
  .aligncenter {
    text-align: center;
  }
  
  
  
  
  /* -------------------------------------
    INVOICE
    Styles for the billing table
  ------------------------------------- */
  .invoice {
    margin: 40px auto;
    text-align: left;
    width: 80%;
  }
  .invoice td {
    padding: 5px 0;
  }
  .invoice .invoice-items {
    width: 100%;
  }
  .invoice .invoice-items td {
    border-top: #eee 1px solid;
  }
  .invoice .invoice-items .total td {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    font-weight: 700;
  }
  
  /* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
  ------------------------------------- */
  @media only screen and (max-width: 640px) {
    h1, h2, h3, h4 {
        font-weight: 600 ;
        margin: 20px 0 5px ;
    }
  
    h1 {
        font-size: 22px ;
    }
  
    h2 {
        font-size: 18px ;
    }
  
    h3 {
        font-size: 16px ;
    }
  
    .container {
        width: 100% ;
    }
  
    .content, .content-wrap {
        padding: 10px ;
    }
  
    .invoice {
        width: 100% ;
    }
  }