<div class="image-aboutus-banner" style="position: relative">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="lg-text">About Us</h1>
          <br/>
          <h5 class="sm-text">Find out more about the company, our values and what we stand for.</h5>
          
        </div>
      </div>
    </div>
  </div>
  
  <div id="description">
    <p id="descripton para">
      Hello and welcome to The Foodiezza, the place to find the delicious and variety of food
      at your doorstep.We thoroughly check the
      quality and taste of the food, working only with reliable suppliers so that you only
      receive the nutritional food. <br /><br />
      We at The Food Delivery system believe in high quality and exceptional customer
      service. We strive to deliver the best food at the most affordable prices, and
      ship them to you regardless of where you are located.
    </p>
  </div>
  
  <div class="image-section" style="position: relative;">
    <img src="\assets\images\sidebar.jpg" alt="" width="100%" />
    <div id="our-team">
      <h5>Get to know</h5>
      <h1 >Our Team</h1>
      <p>
        We are a motivated, friendly and passionate team who drive our business
        forward every single day to make our customers happy. Whether it’s through
        the delicious recipes and our Chef’s are also well professionals and follow hygiene practices or it’s
        just having a chat and helping you out. We are dedicated to you.
      </p>
    </div>
  </div>
  