<div class="footer-content">
    <div id="footer"class="container-fluid footer mt-5">
        <div class="row">
            <!-- name  -->
            <div id="footer-content">
                <h1>Foodiezza</h1>
            </div>
            <div class="social-medias">
                <div class="row">
                  <div class="col-sm">
                    <a href="facebook.com"> <img src="/assets/images/facebook.webp " alt="twitter" height="48" width="55"> </a> 
                  </div>
                  <div class="col-sm">
                    <a href="facebook.com"><img src="/assets/images/twitter.png " alt="twitter" height="48" width="55"> </a>
                  </div>
                  <div class="col-sm">
                    <a href="facebook.com"> <img src="/assets/images/instagram.webp" alt="twitter" height="48" width="55"> </a>
                  </div>
                </div>
              </div>
        <div id="AboutUs">        
            <ul id="AboutUs-list">
                <li><a routerLink="about">About Us</a></li>
                <li><a routerLink="contact">Contact Us</a></li>
                <li><a  href="#">Privacy Policy</a></li>
                <li><a  href="#">Terms and conditions</a></li>
            </ul>
        </div>     
      </div>
    </div>
    </div>
  